.navbar-container {
    position: fixed;
    top: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-gray);
    padding: 10px 40px;
}

.app-name {
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    color: var(--white);
}

.nav-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.link-container {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: var(--gray);
    text-decoration: underline;
}